@using Menu.Models
@model List<Menu.Models.MenuModel>;

@{
    ViewData["Title"] = "Menu";
}
<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Velbekomme</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Vores priser</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5"></p>

        </div>
        <div class="container">
            <div class="text-center">
                <div id="btnContainer">

                    <button class="btn active" onclick="filterSelection('all')">Vis alle</button>

                    @{
                        //We take the first 10 categories
                        @foreach (MenuModel m in Model)
                        {
                            <button class="btn" onclick="filterSelection('@Html.DisplayFor(modelItem => m.CategoryId)')" style="display: inline-block;"> @Html.DisplayFor(modelItem => m.CategoryName)</button>
                        }
                    }
                </div>
                <br />

            </div>
            <div class="container">
                <div class="text-center">

                    @using (Html.BeginForm())
                    {

                        <p>
                            @Html.TextBox("SearchString", null, new
                            {
                                placeholder = "Søg måltid... (Bemærk: Siden genindlæses med resultaterne)",
                                @class = "form-control"
                            })
                        </p>
                        <input type="submit" value="Søg efter måltid" class="btn" style="display:inline-block" />

                    }
                </div>
            </div>

        </div>
    </div>
</div>
<p></p>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="pricing-entry d-flex ftco-animate">
                <div class="desc pl-3">

                    @{
                        //We take the first 10 categories
                        @foreach (MenuModel m in Model.Take(10))
                        {
                            <div class="c-filter @Html.DisplayFor(modelItem => m.CategoryId)">
                                <h4 class="mb-3">@Html.DisplayFor(modelItem => m.CategoryName)</h4>


                                @foreach (ProductModel p in m.Product)
                                {
                                    <div class="d-flex text align-items-center">
                                        <h3><span>@Html.DisplayFor(modelItem => p.Name)</span></h3>
                                        <span class="price">DKK @Html.DisplayFor(modelItem => p.Price)</span>
                                    </div>
                                    <div class="d-block">
                                        <p>@Html.DisplayFor(modelItem => p.Description)</p>
                                    </div>
                                    <br>

                                }
                                <br>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="pricing-entry d-flex ftco-animate">
                <div class="desc pl-3">
                    @{
                        //We take the first 10 categories
                        @foreach (MenuModel m in Model.Skip(10))
                        {
                            <div class="c-filter @Html.DisplayFor(modelItem => m.CategoryId)">
                                <h4 class="mb-3">@Html.DisplayFor(modelItem => m.CategoryName)</h4>


                                @foreach (ProductModel p in m.Product)
                                {
                                    <div class="d-flex text align-items-center">
                                        <h3><span>@Html.DisplayFor(modelItem => p.Name)</span></h3>
                                        <span class="price">DKK @Html.DisplayFor(modelItem => p.Price)</span>
                                    </div>
                                    <div class="d-block">
                                        <p>@Html.DisplayFor(modelItem => p.Description)</p>
                                    </div>
                                    <br>

                                }
                                <br>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
