@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<section id="pricing" class="home-section bg-gray paddingbot-60">
    <div class="container marginbot-50">
        <div class="row">
            <form method="post">
                <h4>Log ind med en oprettet bruger</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-skin btn-block btn-lg">Log ind</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Glemt adgangskode?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Opret dig som bruger (Det er gratis)</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="partner" class="home-section paddingbot-60">	
    <div class="container marginbot-50">
        <div class="row">
            <h4>Log ind med Google</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Du kan ikke logge ind med google lige nu.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-skin btn-block btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
